.PhotoPreview {
  margin: 10px auto;
  width: 600px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.28);
  border-radius: 5px;
  padding: 10px;
}

.PhotoPreview-image {
  background-size: contain;
  background-position: center center;
}

.loading .PhotoPreview-image {
  background-color: #eee;
  width: 600px;
  height: 400px;
}
