.RegisterPage {
  max-width: 400px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RegisterPage ul {
  list-style: none;
  margin: 0;
  padding-top: 0.5rem;
  text-align: right;
}

.RegisterPage h3 {
  margin-bottom: 1rem;
}

.RegisterPage button {
  width: 100%;
}

.RegisterPage-card {
  padding: 0.5rem;
}
